[submodule "vendor/cbforest"]
	path = vendor/cbforest
	url = https://github.com/couchbaselabs/cbforest.git
[submodule "libraries/couchbase-lite-java-core"]
	path = libraries/couchbase-lite-java-core
	url = https://github.com/couchbase/couchbase-lite-java-core.git
